* {
  box-sizing: border-box;
}

.header {
  background-color: yellow;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  height: 300px;

  background-color: lightgray;
  border: 1px solid black;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}